:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black--with-75: hsl(0, 0%, 0%);
}

body {
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.main {
    padding: 50px;
    text-transform: capitalize;
}

header {
    position: relative;
    padding: 10px 10px 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Grayish-blue);
}

.head {
    font-size: 30px;
    font-weight: bold;
}

.links {
    color: var(--Dark-grayish-blue);
    display: flex !important;
    column-gap: 20px;
    margin-left: 30px;
    margin-right: auto;
}

.cart {
    position: absolute;
    right: 60px;
}

img {
    height: fit-content;
    transition: .2s;
}

.cart img {
    margin-right: 40px;
}

.sel {
    position: absolute;
    display: none;
    background-color: white;
    width: 350px;
    right: 40px;
    top: 50px;
    box-shadow: 5px 5px 5px #ccc;
    padding: 20px;
    border-radius: 6px;
}

.sel>div:nth-child(1) {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

header>img {
    width: 60px;
    margin-left: 20px;
    border-radius: 50%;
}

.links div {
    position: relative;
    cursor: pointer;
}

.links div::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 5px;
    bottom: -10px;
    background-color: var(--Orange);
    transition: .5s;
}

.links div:hover::after {
    width: 100%;
}

.box img {
    border-radius: 10px;
}

.box {
    margin-top: 50px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
}

.images {
    text-align: center;
}

.images>img {
    width: 400px;
}

.small {
    display: flex;
    column-gap: 20px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

.small img {
    width: 70px;
}

.info {
    margin-left: 100px;
}

.com {
    color: var(--Grayish-blue)
}

.des {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.the {
    margin-top: 10px;
    color: var(--Grayish-blue)
}

.price {
    margin-top: 30px;
}

.price .price-after,
.sal {
    display: inline;
    font-weight: bold;
    font-size: 30px;
}

.sal {
    border-radius: 10px;
    background-color: black;
    width: fit-content;
    padding: 5px;
    color: white;
    font-size: 16px;
    margin-left: 10px;
}

.price .price-before {
    margin-top: 20px;
    color: var(--Grayish-blue);
    text-decoration: line-through;
    margin-bottom: 20px;
}

.cart-add {
    display: flex;
    column-gap: 30px;
    margin-top: 50px;
}

.p-m {
    display: flex;
    column-gap: 40px;
    background-color: var(--Light-grayish-blue);
    align-items: center;
    width: fit-content;
    border-radius: 10px;
    padding: 10px
}

.p-m img {
    width: 20px;
}

.add {
    background-color: var(--Orange);
    width: fit-content;
    padding: 20px 60px;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}

.cart img:hover+div {
    display: block;
}

img:hover {
    border: 5px solid var(--Orange)
}

.cart-add img:hover,
.cart img {
    border: none;
}

.add:hover {
    background-color: var(--Pale-orange);
}

.images>img:hover {
    border-width: 10px;
}

.min0 {
    pointer-events: none;
}

.added {
    pointer-events: none;
}

.scale {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translatex(-50%);
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.scale>img {
    width: 400px;
}

.scale img {
    border-radius: 10px;
}

.toscale {
    opacity: .7;
    position: relative;
    pointer-events: none;
}

.button:hover {
    border: none;
}

.next {
    right: -20px;
}

.button {
    width: 10px !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.back {
    left: -20px;
    transform: rotate(180deg);
}

.remove {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 20px !important;
}

.remove:hover {
    border: none;
}

.dis {
    display: block;
}

.sel div:nth-child(2) {
    display: flex;
    align-items: center;
}


.sel .info {
    margin: 0;
    display: block !important;
    margin-left: 10px;
    color: var(--Grayish-blue)
}

.sel .info div {
    padding: 0;
    margin: 0;
}


.sel .price span:last-child {
    color: black;
}

.sel .price span:nth-child(2) {
    margin-right: 5px;
}

.sel img:first-of-type {
    width: 50px;
    border-radius: 6px;
    margin: 0;
}

.sel img:last-of-type {
    width: 20px;
    margin-right: 0;
    margin-left: auto;
}

.check {
    background-color: var(--Orange);
    width: 100%;
    padding: 20px 60px;
    border-radius: 10px;
    transition: .5s;
    border: none;
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.check:hover {
    background-color: var(--Pale-orange);
}

.menu {
    display: none;
    border-radius: 0 !important;
    margin-right: 10px;
    width: 20px !important;
}

.dele {
    display: none;
    width: 20px !important;
}

.dele,
.menu:hover {
    border: none;
}

@media (max-width:991px) {
    .menu {
        display: block;
    }

    .dele {
        display: block;
    }

    .box {
        flex-direction: column;
    }

    .box>.info {
        margin: 40px 0 0 0;
    }

    .links {
        margin: 0;
        background-color: white;
        box-shadow: 5px 1px 10px #ccc;
        position: absolute;
        left: 0;
        flex-direction: column;
        column-gap: 500px;
        row-gap: 50px;
        top: 0;
        padding: 50px 40px;
        height: 100%;
        display: none;
        z-index: 2;
    }

    header {
        position: unset;
    }
}